<div markdown="1">
{% assign cv = site.static_files | where: "basename", "Richard_Wong_CV" | first %}
{% assign teaching = site.static_files | where: "basename", "Richard_Wong_Teaching_Statement" | first %}
{% assign research = site.static_files | where: "basename", "Richard_Wong_Research_Statement" | first %}

<ul>
<li><a href="/assets/Richard_Wong_CV.pdf">My CV</a> was last updated {{ cv.last_modified_at | date: '%B %Y' }}.
</li> 
<li><a href="/assets/Richard_Wong_Research_Statement.pdf">My Research Statement</a> was last updated {{ research.last_modified_at | date: '%B %Y' }}.
</li> 
<li><a href="/assets/Richard_Wong_Teaching_Statement.pdf">My Teaching Statement</a> was last updated {{ teaching.last_modified_at | date: '%B %Y' }}.
</li> 
<li><a href="/teaching/materials">Sample Teaching Materials</a>.
</li> 
</ul>

</div>