<div style="clear: both;">
  <div id="frontpageprofile" style="float: left;">
    <img class="rounded" src="{{ include.image_path }}" alt="A picture of me!"></div>
	<div>
    
	{% assign place = site.data.academicinfo[page.place] %}
	
	<p>I am an {{ place.Jobtitle }} in the 
	<a href="{{ place.Deptwebsite }}" title="{{ place.Department }}">{{ place.Department }}</a> at 
	<a href="{{ place.uniwebsite }}" title="{{ place.University }}">{{ place.University }}</a>, and an <a href="https://maa.org/maa-project-next/">MAA Project NExT</a> fellow (Green '23 cohort).  My pronouns are <i>he/him/his</i>.</p>
	
	<p>You can find me in my office in {{ place.Office }}, or you can reach me via email at <code>{{ place.email }}</code>.</p>
	
<p>In addition to teaching, I like thinking about <a href="https://rwongmath.github.io/research/nontechnical">algebraic topology</a>. Prior to coming to Rice, I was at postdoc in the <a href="https://ww3.math.ucla.edu/research-areas/topology/">algebraic topology group</a> at UCLA, where my mentor was Mike Hill.</p>

	<!-- <p>I'm part of the <a href="https://ww3.math.ucla.edu/research-areas/topology/">algebraic topology group</a>, and my mentor is Mike Hill.</p> -->
	
	<p>I received my Ph.D. in 2021 from the University of Texas at Austin, where I was advised by Andrew Blumberg. Previously I was an undergraduate at Rutgers University, where I graduated in 2015 with highest honors in mathematics and a minor in cognitive science. </p>
  </div>
</div>

<div style="clear: both;">
</div>